<nav>
    <a href="/lists"><img class="user-header" src="/images/ToDo.png" alt="logo"></a>
    <div class="user">
        <i class="fa-solid fa-user-astronaut"></i>
        <span><%= user.userName %></span>
        <a class="logout" href="/logout">Logout</a>
    </div>
</nav>