<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
        <nav>
            <a href="/lists"><img src="/images/ToDo.png" alt="logo"></a>
           <div class="btn-container">
                <div class="user">
                    <a href="/login"> Login</a>
                </div>
                <div class="user">
                    <a href="/signup"> Signup</a>
                </div>
           </div>
        </nav>
    </header>
        <section class="home">
            <h1>Create <br>SIMPLE<br> todo lists.</h1>
            <p>Get. Sh!t. Done.<br>CHECK IT OFF!</p>
        </section>
        <!-- <section class="col-60 home">
            <img class="checklist-img" src="/images/undraw_handcrafts_to_do.svg" alt="checklist">
        </section> -->
   
    
    <script src="js/main.js"></script>
</body>
</html>