<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create A Todo List By Clicking The Button Below</h1>
    <ul>
        <% lists.forEach( el => { %>
            <li class='listName' data-id='<%=el._id%>'>
                <a href="/<%= el.list %>/todos" class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.list %></a>
                <span class='del'> Delete </span>
                <!-- ramove delete button, add count -->
            </li>
        <% }) %>    
        </ul>
    <form action="/createList" method='POST'>
        <input type="text" placeholder="Enter List Name" name='listName'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>