<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <section>
        <h1>Create Your VERY OWN Todolist!</h1>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </section>
    
    <script src="js/main.js"></script>
</body>
</html>